---
layout: default
---

<!-- Personal Information Section -->
<div class="personal-info">
    <div class="row">
        <div class="four columns">
            <img class="left-align" src="{{ site.url }}/images/about/aboutImage.jpg" alt="Me in a suit" width="100%">
        </div>

        <div class="eight columns">
            <div class="titles">
                Masters Student, <a href="https://degrees.apps.asu.edu/masters-phd/major/ASU00/ESCSEBDMCS/computer-science-big-data-systems-mcs">Arizona State University</a><br>
                Software Developer, Most recent: <a href="https://www.linkedin.com/company/epic1979">Epic</a>
            </div>
        </div>
    </div>

    <hr>

    <p>I'm a Masters student in <a href="https://degrees.apps.asu.edu/masters-phd/major/ASU00/ESCSEBDMCS/computer-science-big-data-systems-mcs">Computer Science (Big Data Systems)</a> at Arizona State University and a Software Developer.</p>

    <p>I am using this website as an outlet for personal projects, with a focus on sports analytics.</p>
        
    <p>You can read more about my projects <a href="https://MacTeefey.github.io/projects.html">here</a>.</p>
</div>

<hr>

<!-- Blog Posts Section -->
{% for post in paginator.posts %}
  <div class="posts-container">
    <h1>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
